n8n/workflow.e1-ingestao.json
{
  "name": "Oria — E1 Ingestão + Diagnóstico + E2 Extração-Sombra + E3 Reconciliação Classe A (Fatia 1)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Intake Oria — Reestruturação",
        "formDescription": "Suba TODOS os arquivos brutos do mandato de uma vez.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Mandato (nome do caso)",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Arquivos",
              "fieldType": "file",
              "multipleFiles": true,
              "requiredField": true
            }
          ]
        }
      },
      "id": "intake-form-",
      "name": "Intake (Form)",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_upsert_caso($1::text) as caso_id",
        "options": {
          "queryReplacement": "={{ [$json['Mandato (nome do caso)']] }}"
        }
      },
      "id": "upsert-caso-postgres-",
      "name": "Upsert Caso (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        200,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const caso_id = $('Upsert Caso (Postgres)').first().json.caso_id;\nconst form = $('Intake (Form)').first();\nconst bin = form.binary || {};\nconst out = [];\nfor (const key of Object.keys(bin)) {\n  out.push({ json: { caso_id, nome_original: bin[key].fileName || key, binary_key: 'data' }, binary: { data: bin[key] } });\n}\nif (out.length === 0) {\n  throw new Error('Nenhum arquivo recebido do formulario (binario vazio). Confira o campo \"Arquivos\" do Form.');\n}\nreturn out;"
      },
      "id": "listar-arquivos",
      "name": "Listar Arquivos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function normalize(s){return String(s||'').normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').toLowerCase().replace(/\\.[a-z0-9]{2,4}$/i,'').replace(/[_\\-.]+/g,' ').replace(/\\s+/g,' ').trim();}\nconst ALIASES=[\n  {codigo:'FAT_INTRAGRUPO',termos:['faturamento intragrupo','fat intragrupo','faturamento intra grupo']},\n  {codigo:'FATURAMENTO_24M',termos:['faturamento 24m','faturamento 36','faturamento','receita bruta','receita']},\n  {codigo:'CONTRATO_SOCIAL',termos:['contrato social','estatuto social','alteracao contratual','estatuto']},\n  {codigo:'MUTUOS',termos:['mutuos','mutuo','relacao de mutuos','contas intragrupo']},\n  {codigo:'COMBINADO',termos:['combinado','combinada','demonstracoes combinadas','df combinada']},\n  {codigo:'FLUXO_CAIXA',termos:['fluxo de caixa','fluxo caixa','dfc','cash flow','fluxo']},\n  {codigo:'DRE',termos:['dre','demonstracao de resultado','demonstracao do resultado','resultado do exercicio']},\n  {codigo:'BALANCO',termos:['balanco patrimonial','balanco','bp']},\n  {codigo:'BALANCETE',termos:['balancete']},\n];\nfunction parsePeriodo(t){let m=t.match(/\\b(\\d{1,2})m(\\d{2,4})\\b/);if(m&&Number(m[1])===12)return{tipo:'anual',referencia:'12M'+m[2].slice(-2)};m=t.match(/\\bl(\\d{1,2})m\\b/)||t.match(/\\b(\\d{2})\\s*meses\\b/);if(m)return{tipo:'multi',referencia:'L'+m[1]+'M'};m=t.match(/\\b([1-4])t(\\d{2,4})\\b/);if(m)return{tipo:'trimestre',referencia:m[1]+'T'+m[2].slice(-2)};m=t.match(/\\b(20\\d{2}|\\d{2})\\s*(?:-|–|a)\\s*(20\\d{2}|\\d{2})\\b/);if(m){const full=y=>y.length===2?'20'+y:y;const start=Number(full(m[1])),end=Number(full(m[2]));if(start<=end&&end-start<=50){const anos=[];for(let y=start;y<=end;y++)anos.push(String(y).slice(-2));return{tipo:'multi',referencia:anos.join(',')};}}const a=t.match(/\\b(20)?\\d{2}\\b/g);if(a&&a.length>=2)return{tipo:'multi',referencia:a.map(x=>x.slice(-2)).join(',')};if(a&&a.length===1&&/^(19|20)\\d{2}$/.test(a[0]))return{tipo:'anual',referencia:a[0],fraco:true};return null;}\nfunction parseTipo(t){for(const a of ALIASES){for(const termo of a.termos){if(t.includes(termo))return a.codigo;}}return null;}\nconst item=$input.item.json;\nconst t=normalize(item.nome_original);\nconst tipo=parseTipo(t), periodo=parsePeriodo(t);\nconst assinado=/\\bassinad[oa]s?\\b/.test(t)?true:null;\nlet conf=0; if(tipo)conf+=0.6; if(periodo)conf+=(periodo.fraco?0.05:0.3); if(assinado===true)conf+=0.1; conf=Math.min(1,Number(conf.toFixed(2)));\nreturn {json:{...item, tipo_taxonomia:tipo, periodo_tipo:periodo?periodo.tipo:null, periodo_ref:periodo?periodo.referencia:null, assinado, entidade:null, confianca:conf, fonte:'nome_arquivo', precisa_fallback_openai:(conf<0.7|| !tipo)}, binary: $input.item.binary};"
      },
      "id": "classificar-nome",
      "name": "Classificar Nome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item=$input.item.json;\nconst binMeta=($input.item.binary||{})['data']||{};\nconst mt=(binMeta.mimeType||'').toLowerCase();\n// NUNCA ler binMeta.data direto: se o N8N estiver em modo de binario \"filesystem\"\n// (ou S3), esse campo NAO e' a base64 -- e' so' uma referencia interna (ex.:\n// \"filesystem-v2\"), e a IA acaba recebendo um PDF invalido sem avisar (achado\n// testando com documento real: a OpenAI so' \"leu\" o nome do arquivo, porque o\n// file_data enviado era lixo). O helper resolve os dois modos corretamente.\n// No runtime de Task Runner (padrao a partir do N8N 1.x/2.x self-hosted) o\n// global $helpers NAO existe -- e' this.helpers (doc oficial n8n, cookbook\n// \"Get the binary data buffer\").\n// BUG REAL (achado testando com 2 arquivos no mesmo lote, 2026-07-22): o\n// indice NAO e' sempre 0. Mesmo em each-item mode, getBinaryDataBuffer\n// resolve o buffer pelo indice do item DENTRO DO LOTE inteiro do node (e' a\n// forma como a referencia interna de binario vira bytes de verdade) -- nao\n// pelo item que o closure do JS acha que esta processando. Com 0 fixo, todo\n// item != 0 lia o BINARIO DO ITEM 0 (mimeType/nome do proprio item batiam,\n// mas o CONTEUDO enviado pra IA era de outro arquivo) -- so' nao aparecia\n// com upload de 1 arquivo por vez, onde o unico item e' sempre indice 0. Usa\n// $itemIndex (global do N8N em each-item mode: indice do item corrente no\n// lote) em vez do literal 0.\nconst buf=await this.helpers.getBinaryDataBuffer($itemIndex,'data');\nconst b64=buf.toString('base64');\nfunction parseCsv(t){const L=String(t||'').split(/\\r?\\n/).filter(x=>x.trim()!=='');if(!L.length)return [];const sep=(L[0].match(/;/g)||[]).length>(L[0].match(/,/g)||[]).length?';':',';const h=L[0].split(sep).map(c=>c.trim());return L.slice(1).map(l=>{const c=l.split(sep);const o={};h.forEach((k,i)=>o[k||('col'+i)]=(c[i]||'').trim());return o;});}\nfunction sheetTxt(rows,mr=50,mc=25){if(!rows.length)return '(planilha vazia)';const cols=Object.keys(rows[0]).slice(0,mc);const head=cols.join(' | ');const body=rows.slice(0,mr).map(r=>cols.map(c=>String(r[c]??'')).join(' | ')).join('\\n');const ex=rows.length>mr?('\\n... (+'+(rows.length-mr)+' linhas omitidas)'):'';return head+'\\n'+body+ex;}\nlet part;\nif(/pdf/.test(mt)) part={type:'file',file:{filename:item.nome_original||'documento.pdf',file_data:'data:application/pdf;base64,'+b64}};\nelse if(mt.indexOf('image/')===0) part={type:'image_url',image_url:{url:'data:'+mt+';base64,'+b64}};\nelse if(/csv/.test(mt)||mt==='text/plain'){const txt=buf.toString('utf-8');part={type:'text',text:sheetTxt(parseCsv(txt))};}\nelse if(/spreadsheetml|ms-excel|excel/.test(mt)) part={type:'text',text:'(XLSX: habilitar Extract From File no N8N p/ extrair texto — ver README. Nome: '+(item.nome_original||'')+')'};\nelse part={type:'text',text:'(conteudo nao suportado: '+mt+')'};\nreturn {json:{...item, content_part: part, content_mime: mt}, binary: $input.item.binary};"
      },
      "id": "preparar-conteudo",
      "name": "Preparar Conteudo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://SEU-PROJETO.supabase.co/storage/v1/object/documentos/{{ $json.caso_id }}/{{ encodeURIComponent($json.nome_original) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "apikey",
              "value": "COLE_A_SERVICE_ROLE_KEY_AQUI"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data"
      },
      "id": "upload-storage",
      "name": "Upload Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE",
          "name": "Supabase Service (Header Auth)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.precisa_fallback_openai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "precisa-fallback-",
      "name": "Precisa Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item=$input.item.json;\nconst schema={name:'classificacao_documento',strict:true,schema:{type:'object',additionalProperties:false,required:['tipo_taxonomia','entidade','periodo_tipo','periodo_referencia','assinado','confianca','justificativa'],properties:{tipo_taxonomia:{type:'string',enum:[\"DRE\",\"BALANCO\",\"FLUXO_CAIXA\",\"COMBINADO\",\"FATURAMENTO_24M\",\"MUTUOS\",\"FAT_INTRAGRUPO\",\"CONTRATO_SOCIAL\",\"BALANCETE\",\"DF_AUDITADA\",\"MAPA_DIVIDA\",\"EXTRATO_BANCARIO\",\"AGING_AR\",\"AGING_AP\",\"ESTOQUE\",\"CERTIDOES\",\"CONTINGENCIAS\",\"SITUACAO_FISCAL\",\"ORGANOGRAMA\",\"RAZAO\",\"NOTAS_EXPL\",\"DESCONHECIDO\"]},entidade:{type:['string','null']},periodo_tipo:{type:'string',enum:[\"anual\",\"trimestre\",\"multi\",\"data-base\",\"outro\",\"desconhecido\"]},periodo_referencia:{type:['string','null']},assinado:{type:['boolean','null']},confianca:{type:'number',minimum:0,maximum:1},justificativa:{type:'string'}}}};\nconst body={model:'gpt-4o',temperature:0,response_format:{type:'json_schema',json_schema:schema},messages:[\n  {role:'system',content:'Classifique o documento financeiro na taxonomia da Oria (Reestruturacao, Brasil). Periodos: 12M25=ano 2025; 1T25=1o tri/2025; L24M=ultimos 24 meses; 23,24,25=multiplos exercicios; ano isolado como 2025 tambem e valido. IMPORTANTE: sempre tente identificar o tipo mais provavel dentre os codigos conhecidos, mesmo com confianca baixa -- analise cabecalhos, rotulos de linhas, estrutura de colunas e demais pistas visuais. DESCONHECIDO e reservado somente para documentos genuinamente ilegiveis/corrompidos ou que claramente nao sao documentos financeiros. Baixa confianca nao e motivo para deixar de dar um palpite -- e motivo para registrar o palpite com confianca baixa correspondente e uma justificativa objetiva. Nunca invente valores (numeros, entidade, periodo) que nao estao no documento, mas sempre ofereca sua melhor hipotese de tipo. O campo justificativa e obrigatorio: explicacao objetiva e especifica (1-2 frases) do que voce viu (ou nao viu) no documento que sustenta a classificacao e a confianca escolhida -- evite respostas genericas como nao foi possivel determinar.'},\n  {role:'user',content:[{type:'text',text:'Nome (pista fraca): '+(item.nome_original||'')}, item.content_part]}\n]};\nreturn {json:{...item, openai_body: body}};"
      },
      "id": "montar-req-classif",
      "name": "Montar Req Classif",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}"
      },
      "id": "openai-classificar",
      "name": "OpenAI Classificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE",
          "name": "OpenAI API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function mergeClassification(fromName, fromAI){\n  const nameHasTipo=!!fromName.tipo_taxonomia, aiHasTipo=!!fromAI.tipo_taxonomia;\n  let winner;\n  if(aiHasTipo&&nameHasTipo) winner=(fromAI.confianca??0)>=(fromName.confianca??0)?fromAI:fromName;\n  else if(aiHasTipo) winner=fromAI;\n  else if(nameHasTipo) winner=fromName;\n  else winner=fromAI;\n  return {\n    tipo_taxonomia:winner.tipo_taxonomia??null,\n    periodo_tipo:fromAI.periodo_ref?fromAI.periodo_tipo:(fromName.periodo_ref?fromName.periodo_tipo:null),\n    periodo_ref:fromAI.periodo_ref??fromName.periodo_ref??null,\n    assinado:fromAI.assinado??fromName.assinado??null,\n    entidade:fromAI.entidade??fromName.entidade??null,\n    confianca:Math.max(fromName.confianca||0, fromAI.confianca||0),\n    fonte:winner===fromAI?'openai_conteudo':'nome_arquivo',\n    justificativa:fromAI.justificativa||'',\n  };\n}\nconst src=$('Montar Req Classif').item.json;\nconst {openai_body, content_part, content_mime, ...item}=src;\nconst resp=$json;\nconst content=resp?.choices?.[0]?.message?.content;\nconst fromName={tipo_taxonomia:item.tipo_taxonomia, periodo_tipo:item.periodo_tipo, periodo_ref:item.periodo_ref, assinado:item.assinado, entidade:item.entidade, confianca:item.confianca};\nif(!content){\n  return {json:{...item, ...mergeClassification(fromName, {tipo_taxonomia:null, confianca:0, justificativa:'A chamada a OpenAI nao retornou conteudo (falha de rede/API).'})}};\n}\nlet p; try{p=typeof content==='string'?JSON.parse(content):content;}catch(e){\n  return {json:{...item, ...mergeClassification(fromName, {tipo_taxonomia:null, confianca:0, justificativa:'Resposta da OpenAI nao veio em JSON valido.'})}};\n}\nconst fromAI={\n  tipo_taxonomia:p.tipo_taxonomia==='DESCONHECIDO'?null:p.tipo_taxonomia,\n  entidade:p.entidade??null,\n  periodo_tipo:p.periodo_referencia?p.periodo_tipo:null,\n  periodo_ref:p.periodo_referencia??null,\n  assinado:p.assinado??null,\n  confianca:typeof p.confianca==='number'?p.confianca:0,\n  justificativa:p.justificativa||'',\n};\nreturn {json:{...item, ...mergeClassification(fromName, fromAI)}};"
      },
      "id": "parse-openai-classif",
      "name": "Parse OpenAI Classif",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_registrar_documento($1::uuid,$2::text,$3::text,$4::text,$5::text,$6::numeric,$7::text,$8::origem_arquivo,$9::text,$10::text,$11::boolean,$12::text,$13::legibilidade, p_justificativa=>$14::text) as r",
        "options": {
          "queryReplacement": "={{ [$json.caso_id, $json.entidade || null, $json.periodo_tipo || null, $json.periodo_ref || null, $json.tipo_taxonomia || null, $json.confianca, $json.fonte, 'supabase_storage', $json.caso_id + '/' + $json.nome_original, $json.nome_original, $json.assinado, null, 'ok', $json.justificativa || null] }}"
        }
      },
      "id": "registrar-documento",
      "name": "Registrar Documento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1850,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_recomputar_completude($1::uuid) as resultado",
        "options": {
          "queryReplacement": "={{ $('Upsert Caso (Postgres)').first().json.caso_id }}"
        }
      },
      "id": "recomputar-completude",
      "name": "Recomputar Completude",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2100,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const reg=$json;\nconst versaoId=(reg.r&&reg.r.documento_versao_id)||reg.documento_versao_id||null;\nconst prep=$('Preparar Conteudo').item.json;\nconst schema={name:'diagnostico_e_extracao',strict:true,schema:{type:'object',additionalProperties:false,required:['moeda','unidade','diagnostico','linhas'],properties:{moeda:{type:['string','null']},unidade:{type:['string','null']},diagnostico:{type:'object',additionalProperties:false,required:['entidade','tipo_confirma','tipo_sugerido','periodo_tipo','periodo_referencia','legibilidade','nota_legibilidade','resumo','justificativa'],properties:{entidade:{type:['string','null']},tipo_confirma:{type:'boolean'},tipo_sugerido:{type:'string',enum:[\"DRE\",\"BALANCO\",\"FLUXO_CAIXA\",\"COMBINADO\",\"FATURAMENTO_24M\",\"MUTUOS\",\"FAT_INTRAGRUPO\",\"CONTRATO_SOCIAL\",\"BALANCETE\",\"DF_AUDITADA\",\"MAPA_DIVIDA\",\"EXTRATO_BANCARIO\",\"AGING_AR\",\"AGING_AP\",\"ESTOQUE\",\"CERTIDOES\",\"CONTINGENCIAS\",\"SITUACAO_FISCAL\",\"ORGANOGRAMA\",\"RAZAO\",\"NOTAS_EXPL\",\"DESCONHECIDO\"]},periodo_tipo:{type:'string',enum:[\"anual\",\"trimestre\",\"multi\",\"data-base\",\"outro\",\"desconhecido\"]},periodo_referencia:{type:['string','null']},legibilidade:{type:'string',enum:[\"ok\",\"degradado\",\"ilegivel\"]},nota_legibilidade:{type:['string','null']},resumo:{type:'string'},justificativa:{type:'string'}}},linhas:{type:'array',items:{type:'object',additionalProperties:false,required:['secao','secao_canonica','entidade_coluna','chave','valor_texto','valor_num','origem_pagina','confianca'],properties:{secao:{type:['string','null']},secao_canonica:{type:'string',enum:[\"ativo_circulante\",\"ativo_nao_circulante\",\"passivo_circulante\",\"passivo_nao_circulante\",\"patrimonio_liquido\",\"receita_bruta\",\"custos\",\"despesas_operacionais\",\"resultado_financeiro\",\"impostos_lucro\",\"atividades_operacionais\",\"atividades_investimento\",\"atividades_financiamento\",\"NAO_CLASSIFICAVEL\"]},entidade_coluna:{type:['string','null']},chave:{type:'string'},valor_texto:{type:['string','null']},valor_num:{type:['number','null']},origem_pagina:{type:['integer','null']},confianca:{type:'number'}}}}}}};\nconst promptSistema='Voce analisa UM documento financeiro de um mandato de Reestruturacao (Brasil) e devolve DUAS coisas: um diagnostico do documento e a extracao linha a linha de TODOS os dados financeiros, organizados como planilha. DIAGNOSTICO: entidade = razao social se visivel no conteudo (null se nao, nunca invente; NAO use o nome de quem ASSINOU -- contador/administrador/socio, bloco com CRC/CPF -- e o signatario, nao a entidade; se combina varias empresas use o nome do GRUPO ou null, nao escolha uma ao acaso); tipo_confirma/tipo_sugerido = voce recebe uma dica de tipo vinda do nome do arquivo, leia o conteudo e diga se bate (tipo_confirma) e qual o codigo que o CONTEUDO sugere (tipo_sugerido, pode diferir da dica; DESCONHECIDO so se ilegivel/nao-financeiro; BALANCO vs COMBINADO: COMBINADO = grupo de VARIAS empresas juntas com colunas por empresa; um arquivo com varias demonstracoes -- Balanco+DRE+DFC+DMPL -- de UMA entidade so NAO e COMBINADO, use a demonstracao principal (normalmente BALANCO); regra: linhas com entidade_coluna preenchido -> COMBINADO, entidade so -> tipo da demonstracao principal); periodo_tipo/periodo_referencia = periodo real do conteudo (12M25=ano 2025; 1T25=1o tri/2025; L24M=ultimos 24 meses; \"23,24,25\"=multiplos exercicios; ano isolado tambem vale; e o periodo ATUAL, NAO use a data de um SALDO DE ABERTURA/exercicio anterior -- ex. DMPL com \"Saldos em 31/12/2023\" e \"31/12/2024\" e documento de 2024, 2023 e so o saldo inicial); legibilidade = ok/degradado/ilegivel (avaliacao real do ARQUIVO: paginas faltando, digitalizacao ruim, tabela cortada), nota_legibilidade explica quando != ok (null quando ok); resumo = 2-3 frases objetivas do conteudo; justificativa = 1-2 frases do diagnostico. LINHAS: extraia TODAS as linhas financeiras (rotulo+valor), com secao = agrupador que espelha a estrutura do proprio documento (ex.: \"Ativo Circulante\", \"Passivo Nao Circulante\", \"Patrimonio Liquido\", \"Receita Operacional\", \"Atividades de Investimento\"; null se a linha nao pertencer a nenhuma secao clara). Alem da secao livre, classifique CADA linha em UMA secao_canonica padronizada usando julgamento contabil (o SIGNIFICADO da conta, nao so o nome literal): Balanco/Balancete = ativo_circulante, ativo_nao_circulante, passivo_circulante, passivo_nao_circulante, patrimonio_liquido (ex.: mutuo A RECEBER e ativo; mutuo A PAGAR e passivo); DRE = receita_bruta (receita e deducoes), custos (CPV/CMV/custo de servico), despesas_operacionais (vendas/administrativas/gerais), resultado_financeiro (receitas/despesas financeiras, juros), impostos_lucro (IRPJ/CSLL); Fluxo de Caixa = atividades_operacionais, atividades_investimento, atividades_financiamento. Use NAO_CLASSIFICAVEL quando a linha for um total/subtotal geral ou quando nao tiver seguranca (nao force palpite ruim -- vai para revisao manual). secao_canonica e SUGESTAO revisavel, nunca fato. DOCUMENTO COM VARIAS ENTIDADES/COLUNAS lado a lado (ex.: \"Empresa A | Empresa B | Total\"): NAO resuma num valor so por conta -- gere uma linha separada por (conta x coluna), mesmo \"chave\", com entidade_coluna = nome exato do cabecalho da coluna; nunca some/estime um valor unico representando varias colunas, omita so a linha que nao conseguir ler. Documento de uma entidade so (o caso comum): entidade_coluna null em todas as linhas. valor_num = numero puro quando houver, senao null. Informe pagina de origem. NAO invente linhas, valores nem entidade; omita o ilegivel.';\nconst body={model:'gpt-4o',temperature:0,response_format:{type:'json_schema',json_schema:schema},messages:[\n  {role:'system',content:promptSistema},\n  {role:'user',content:[{type:'text',text:'Nome do arquivo: '+(prep.nome_original||'(sem nome)')+'. Dica de tipo (do nome, pode estar errada): '+(prep.tipo_taxonomia||'desconhecido')+'. Diagnostique e extraia as linhas financeiras.'}, prep.content_part]}\n]};\nreturn {json:{documento_versao_id:versaoId, tipo:prep.tipo_taxonomia||null, openai_body:body}};"
      },
      "id": "montar-req-extracao",
      "name": "Montar Req Extracao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}"
      },
      "id": "openai-extrair",
      "name": "OpenAI Extrair",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE",
          "name": "OpenAI API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const ctx=$('Montar Req Extracao').item.json;\nconst resp=$json;\nconst content=resp?.choices?.[0]?.message?.content;\nlet p={}; try{p=content?(typeof content==='string'?JSON.parse(content):content):{};}catch(e){p={};}\nconst unidade=p.unidade??null;\nconst campos=Array.isArray(p.linhas)?p.linhas.map(l=>({secao:l.secao??null, secao_canonica:(l.secao_canonica&&l.secao_canonica!=='NAO_CLASSIFICAVEL')?l.secao_canonica:null, entidade_coluna:l.entidade_coluna??null, chave:l.chave, valor_texto:l.valor_texto??null, valor_num:(typeof l.valor_num==='number')?l.valor_num:null, unidade, confianca:(typeof l.confianca==='number')?l.confianca:null, origem_pagina:Number.isInteger(l.origem_pagina)?l.origem_pagina:null})):[];\nconst d=p.diagnostico||{};\nconst diagnostico={\n  entidade: d.entidade??null,\n  tipo_confirma: (typeof d.tipo_confirma==='boolean')?d.tipo_confirma:null,\n  tipo_sugerido: d.tipo_sugerido==='DESCONHECIDO'?null:(d.tipo_sugerido??null),\n  periodo_tipo: d.periodo_referencia?d.periodo_tipo:null,\n  periodo_referencia: d.periodo_referencia??null,\n  legibilidade: d.legibilidade??null,\n  nota_legibilidade: d.nota_legibilidade??null,\n  resumo: d.resumo??null,\n  justificativa: d.justificativa??'',\n};\nreturn {json:{documento_versao_id:ctx.documento_versao_id, campos, diagnostico}};"
      },
      "id": "parse-extracao",
      "name": "Parse Extracao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_registrar_campos_extraidos($1::uuid, $2::jsonb) as n_campos",
        "options": {
          "queryReplacement": "={{ [$json.documento_versao_id, JSON.stringify($json.campos)] }}"
        }
      },
      "id": "gravar-campos-sombra-",
      "name": "Gravar Campos (Sombra)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2700,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_registrar_diagnostico($1::uuid,$2::uuid,$3::text,$4::boolean,$5::text,$6::text,$7::text,$8::legibilidade,$9::text,$10::text,$11::text) as resultado",
        "options": {
          "queryReplacement": "={{ [$('Registrar Documento').item.json.r.documento_id, $('Parse Extracao').item.json.documento_versao_id, $('Parse Extracao').item.json.diagnostico.entidade, $('Parse Extracao').item.json.diagnostico.tipo_confirma, $('Parse Extracao').item.json.diagnostico.tipo_sugerido, $('Parse Extracao').item.json.diagnostico.periodo_tipo, $('Parse Extracao').item.json.diagnostico.periodo_referencia, $('Parse Extracao').item.json.diagnostico.legibilidade, $('Parse Extracao').item.json.diagnostico.nota_legibilidade, $('Parse Extracao').item.json.diagnostico.resumo, $('Parse Extracao').item.json.diagnostico.justificativa] }}"
        }
      },
      "id": "registrar-diagnostico",
      "name": "Registrar Diagnostico",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2900,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_reconciliar_por_documento($1::uuid) as resultado",
        "options": {
          "queryReplacement": "={{ [$('Registrar Documento').item.json.r.documento_id] }}"
        }
      },
      "id": "reconciliar-classe-a-",
      "name": "Reconciliar (Classe A)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3100,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    }
  ],
  "connections": {
    "Intake (Form)": {
      "main": [
        [
          {
            "node": "Upsert Caso (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Caso (Postgres)": {
      "main": [
        [
          {
            "node": "Listar Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Arquivos": {
      "main": [
        [
          {
            "node": "Classificar Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Nome": {
      "main": [
        [
          {
            "node": "Preparar Conteudo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Conteudo": {
      "main": [
        [
          {
            "node": "Upload Storage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Precisa Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Fallback?": {
      "main": [
        [
          {
            "node": "Montar Req Classif",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Req Classif": {
      "main": [
        [
          {
            "node": "OpenAI Classificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Classificar": {
      "main": [
        [
          {
            "node": "Parse OpenAI Classif",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI Classif": {
      "main": [
        [
          {
            "node": "Registrar Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Documento": {
      "main": [
        [
          {
            "node": "Recomputar Completude",
            "type": "main",
            "index": 0
          },
          {
            "node": "Montar Req Extracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Req Extracao": {
      "main": [
        [
          {
            "node": "OpenAI Extrair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Extrair": {
      "main": [
        [
          {
            "node": "Parse Extracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Extracao": {
      "main": [
        [
          {
            "node": "Gravar Campos (Sombra)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gravar Campos (Sombra)": {
      "main": [
        [
          {
            "node": "Registrar Diagnostico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Diagnostico": {
      "main": [
        [
          {
            "node": "Reconciliar (Classe A)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "note": "Gerado por n8n/build-workflow.mjs. Nós Code espelham n8n/lib/ (testado). Diagnóstico de conteúdo roda SEMPRE (entidade/tipo/período/legibilidade); E2 em N0/sombra; E3 Classe A em N1 (gera pendência, nunca fato)."
  }
}
