n8n/workflow.e1-ingestao.json
{
  "name": "Oria — E1 Ingestão (Fatia 1)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Intake Oria — Reestruturação",
        "formDescription": "Suba TODOS os arquivos brutos do mandato de uma vez. O sistema classifica e confere a completude.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Mandato (nome do caso)",
              "fieldType": "text",
              "requiredField": true
            },
            {
              "fieldLabel": "Arquivos",
              "fieldType": "file",
              "multipleFiles": true,
              "requiredField": true
            }
          ]
        }
      },
      "id": "intake-form-",
      "name": "Intake (Form)",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_upsert_caso($1) as caso_id",
        "options": {
          "queryReplacement": "={{ $json['Mandato (nome do caso)'] }}"
        }
      },
      "id": "upsert-caso-postgres-",
      "name": "Upsert Caso (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Um item por arquivo enviado no Form Trigger. Mantém caso_id (do nó anterior).\nconst caso_id = $('Upsert Caso (Postgres)').first().json.caso_id;\nconst bin = $input.item.binary || {};\nconst out = [];\nfor (const key of Object.keys(bin)) {\n  out.push({ json: { caso_id, nome_original: bin[key].fileName || key, binary_key: key }, binary: { [key]: bin[key] } });\n}\nreturn out;"
      },
      "id": "listar-arquivos",
      "name": "Listar Arquivos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/documentos/{{ $json.caso_id }}/{{ $json.nome_original }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $json.binary_key }}"
      },
      "id": "upload-storage",
      "name": "Upload Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Espelha n8n/lib/classifier.mjs (fonte testada). Classifica por NOME + regras.\nfunction normalize(s){return String(s||'').normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').toLowerCase().replace(/\\.[a-z0-9]{2,4}$/i,'').replace(/[_\\-.]+/g,' ').replace(/\\s+/g,' ').trim();}\nconst ALIASES=[\n  {codigo:'FAT_INTRAGRUPO',termos:['faturamento intragrupo','fat intragrupo','faturamento intra grupo']},\n  {codigo:'FATURAMENTO_24M',termos:['faturamento 24m','faturamento 36','faturamento','receita bruta','receita']},\n  {codigo:'CONTRATO_SOCIAL',termos:['contrato social','estatuto social','alteracao contratual','estatuto']},\n  {codigo:'MUTUOS',termos:['mutuos','mutuo','relacao de mutuos','contas intragrupo']},\n  {codigo:'COMBINADO',termos:['combinado','combinada','demonstracoes combinadas','df combinada']},\n  {codigo:'FLUXO_CAIXA',termos:['fluxo de caixa','fluxo caixa','dfc','cash flow','fluxo']},\n  {codigo:'DRE',termos:['dre','demonstracao de resultado','demonstracao do resultado','resultado do exercicio']},\n  {codigo:'BALANCO',termos:['balanco patrimonial','balanco','bp']},\n  {codigo:'BALANCETE',termos:['balancete']},\n];\nfunction parsePeriodo(t){\n  let m=t.match(/\\b(\\d{1,2})m(\\d{2,4})\\b/); if(m&&Number(m[1])===12)return{tipo:'anual',referencia:'12M'+m[2].slice(-2)};\n  m=t.match(/\\bl(\\d{1,2})m\\b/)||t.match(/\\b(\\d{2})\\s*meses\\b/); if(m)return{tipo:'multi',referencia:'L'+m[1]+'M'};\n  m=t.match(/\\b([1-4])t(\\d{2,4})\\b/); if(m)return{tipo:'trimestre',referencia:m[1]+'T'+m[2].slice(-2)};\n  const anos=t.match(/\\b(20)?\\d{2}\\b/g); if(anos&&anos.length>=2)return{tipo:'multi',referencia:anos.map(a=>a.slice(-2)).join(',')};\n  return null;\n}\nfunction parseTipo(t){for(const a of ALIASES){for(const termo of a.termos){if(t.includes(termo))return a.codigo;}}return null;}\nconst item=$input.item.json;\nconst t=normalize(item.nome_original);\nconst tipo=parseTipo(t), periodo=parsePeriodo(t);\nconst assinado=/\\bassinad[oa]s?\\b/.test(t)?true:null;\nlet conf=0; if(tipo)conf+=0.6; if(periodo)conf+=0.3; if(assinado===true)conf+=0.1; conf=Math.min(1,Number(conf.toFixed(2)));\nreturn [{json:{...item,\n  tipo_taxonomia:tipo, periodo_tipo:periodo?periodo.tipo:null, periodo_ref:periodo?periodo.referencia:null,\n  assinado, confianca:conf, fonte:'nome_arquivo', precisa_fallback_openai:(conf<0.7|| !tipo)}}];"
      },
      "id": "classificar-nome",
      "name": "Classificar Nome",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.precisa_fallback_openai }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "precisa-fallback-",
      "name": "Precisa Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Espelha n8n/lib/openai.mjs. Monta openai_body com a parte de CONTEUDO do arquivo.\nconst item=$input.item.json;\nconst binKey=item.binary_key;\nconst bin=($input.item.binary||{})[binKey]||{};\nconst b64=bin.data||''; const mt=(bin.mimeType||'').toLowerCase();\nfunction part(){\n  if(/pdf/.test(mt))return{type:'file',file:{filename:item.nome_original||'documento.pdf',file_data:'data:application/pdf;base64,'+b64}};\n  if(mt.indexOf('image/')===0)return{type:'image_url',image_url:{url:'data:'+mt+';base64,'+b64}};\n  if(/spreadsheetml|ms-excel|excel|csv/.test(mt))return{type:'text',text:'(planilha: extrair texto antes — ver README; classificar pelo nome '+(item.nome_original||'')+')'};\n  return{type:'text',text:'(conteudo nao suportado: '+mt+')'};\n}\nconst schema={name:'classificacao_documento',strict:true,schema:{type:'object',additionalProperties:false,required:['tipo_taxonomia','entidade','periodo_tipo','periodo_referencia','assinado','confianca','justificativa'],properties:{tipo_taxonomia:{type:'string'},entidade:{type:['string','null']},periodo_tipo:{type:'string'},periodo_referencia:{type:['string','null']},assinado:{type:['boolean','null']},confianca:{type:'number'},justificativa:{type:'string'}}}};\nconst body={model:($env.OPENAI_MODEL||'gpt-4o'),temperature:0,response_format:{type:'json_schema',json_schema:schema},messages:[\n  {role:'system',content:'Classifique o documento financeiro na taxonomia da Oria (Reestruturacao, Brasil). Convencoes de periodo: 12M25=ano 2025; 1T25=1o trimestre/2025; L24M=ultimos 24 meses; 23,24,25=multiplos exercicios. Se incerto use DESCONHECIDO e confianca baixa. Nunca invente.'},\n  {role:'user',content:[{type:'text',text:'Nome do arquivo (pista fraca): '+(item.nome_original||'')},part()]}\n]};\nreturn [{json:{...item, openai_body: body}}];"
      },
      "id": "preparar-conteudo-fallback",
      "name": "Preparar Conteudo Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_body) }}"
      },
      "id": "openai-classificar",
      "name": "OpenAI Classificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Espelha n8n/lib/openai.mjs parseClassificationResponse.\n// Contexto do item vem do nó anterior; a resposta da OpenAI vem em $json.\nconst item=$('Preparar Conteudo Fallback').item.json;\nconst resp=$json;\nconst content=resp?.choices?.[0]?.message?.content;\nif(!content){return [{json:{...item, fonte:'openai_conteudo', confianca:0, tipo_taxonomia:item.tipo_taxonomia||null}}];}\nlet p; try{p=typeof content==='string'?JSON.parse(content):content;}catch(e){return [{json:{...item, fonte:'openai_conteudo', confianca:0}}];}\nreturn [{json:{...item,\n  tipo_taxonomia:p.tipo_taxonomia==='DESCONHECIDO'?null:p.tipo_taxonomia,\n  entidade:p.entidade??item.entidade??null,\n  periodo_tipo:p.periodo_referencia?p.periodo_tipo:null,\n  periodo_ref:p.periodo_referencia??null,\n  assinado:p.assinado??null,\n  confianca:typeof p.confianca==='number'?p.confianca:0,\n  fonte:'openai_conteudo', justificativa:p.justificativa||''}}];"
      },
      "id": "parse-openai",
      "name": "Parse OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_registrar_documento($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13) as documento_id",
        "options": {
          "queryReplacement": "={{ [$json.caso_id, $json.entidade || null, $json.periodo_tipo || null, $json.periodo_ref || null, $json.tipo_taxonomia || null, $json.confianca, $json.fonte, 'supabase_storage', $json.caso_id + '/' + $json.nome_original, $json.nome_original, $json.assinado, null, 'ok'] }}"
        }
      },
      "id": "registrar-documento",
      "name": "Registrar Documento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1980,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select fn_recomputar_completude($1) as resultado",
        "options": {
          "queryReplacement": "={{ $json.caso_id }}"
        }
      },
      "id": "recomputar-completude",
      "name": "Recomputar Completude",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2200,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE",
          "name": "Supabase Postgres (Session Pooler)"
        }
      }
    }
  ],
  "connections": {
    "Intake (Form)": {
      "main": [
        [
          {
            "node": "Upsert Caso (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Caso (Postgres)": {
      "main": [
        [
          {
            "node": "Listar Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Arquivos": {
      "main": [
        [
          {
            "node": "Upload Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Storage": {
      "main": [
        [
          {
            "node": "Classificar Nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Nome": {
      "main": [
        [
          {
            "node": "Precisa Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Fallback?": {
      "main": [
        [
          {
            "node": "Preparar Conteudo Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Conteudo Fallback": {
      "main": [
        [
          {
            "node": "OpenAI Classificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Classificar": {
      "main": [
        [
          {
            "node": "Parse OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI": {
      "main": [
        [
          {
            "node": "Registrar Documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Documento": {
      "main": [
        [
          {
            "node": "Recomputar Completude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "note": "Gerado por n8n/build-workflow.mjs. Lógica dos nós Code espelha n8n/lib/ (testado)."
  }
}
